"*":
  "atom-beautify":
    css:
      convert_quotes: "double"
      default_beautifier: "Pretty Diff"
      end_with_newline: true
      indent_size: 4
      no_lead_zero: true
      preserve_newlines: true
    general:
      beautifyEntireFileOnSave: false
    html:
      end_with_newline: true
      indent_inner_html: true
      indent_size: 4
      wrap_attributes_indent_size: 4
    js:
      end_with_comma: true
      end_with_newline: true
      indent_size: 4
      keep_array_indentation: true
      keep_function_indentation: true
      object_curly_spacing: true
      space_after_anon_function: true
    json:
      end_with_comma: true
      end_with_newline: true
      indent_size: 4
      keep_array_indentation: true
      keep_function_indentation: true
      object_curly_spacing: true
      space_after_anon_function: true
    markdown: {}
    scss:
      convert_quotes: "double"
      indent_size: 4
      preserve_newlines: true
    sql:
      identifiers: "lower"
      indent_size: 2
    twig:
      indent_size: 4
      space_after_anon_function: true
    xml:
      default_beautifier: "JS Beautify"
      end_with_newline: true
      indent_inner_html: true
      indent_size: 4
  "atom-ide-ui":
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
      showDirectoryColumn: true
    "debugger-exceptionBreakpointsCollapsed": false
    hyperclick:
      darwinTriggerKeys: "ctrlKey"
  "atom-package-deps":
    ignored: [
      "language-marko"
      "linter-sass-lint"
    ]
  "autocomplete-plus":
    confirmCompletion: "tab"
    minimumWordLength: 2
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
    preferredFormat: "HEX"
    triggerKey: "E"
  core:
    automaticallyUpdate: false
    closeEmptyWindows: false
    disabledPackages: [
      "wrap-guide"
      "language-batch"
      "ide-php"
      "linter-php"
    ]
    packagesWithKeymapsDisabled: [
      "toggle-gutter"
      "touchbar"
      "atom-touch-bar"
      "atom-touchbar"
      "hyperclick"
      "tool-bar"
      "xatom-debug"
    ]
    projectHome: "D:\\Users\\Andre\\Documents\\GitHub"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-dark-monokai"
    ]
    titleBar: "custom-inset"
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "Menlo, Monaco, 'Courier New', monospace"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "04f29aa6-1c13-4aaa-96a7-2ad326667bcd"
  "file-icons":
    strategies: {}
  "flex-tool-bar":
    toolBarConfigurationFilePath: "C:\\Users\\Andre\\.atom"
  github:
    gitDiagnostics: true
  "google-translate-modal-English-Version":
    lang: "de"
  "ide-php":
    phpPath: "/usr/bin/php"
  linter:
    lintOnChange: false
    lintPreviewTabs: false
  "linter-htmlhint": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    jshintFileName: "C:\\Users\\Andre\\.atom\\.jshintrc"
    lintInlineJavaScript: true
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-sass-lint":
    configFile: "C:\\Users\\Andre\\.atom\\.sass-lint.yml"
  "markdown-preview":
    useGitHubStyle: true
  "no-title-bar":
    automaticTrafficLightsPadding: true
  "one-dark-ui":
    fontSize: 11
    tabCloseButton: "Left"
  "split-diff": {}
  "terminal-tab": {}
  "tool-bar":
    iconSize: "16px"
    useTouchBar: false
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
